
@{
    ViewBag.Title = "OrderCheck";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success" role="alert">
    <a href="#" class="alert-link"> Siparişiniz e-mail adresinize başarıyla iletilmiştir. </a>
</div>
